@use "./variables" as *;
@use "./mixins" as *;

.tech{
    @include silver-border;
    height:$business-card;
    display:flex;
    justify-content: center;
    
    &:hover, :focus{
        @include gold-border;

        i, img{
            filter:$svg-gold;
        }
    }
    ul{
        display:grid;
        grid-template-columns:repeat(5, 1fr);
        gap:1rem;
        text-align: center;
        align-content: center;
    }
    i{
        filter:$svg-silver;
    }
}

.tech-text{
    @include silver-border;
    @include flex-c-c;
    height:$business-card;

    ul{
        @include uppercase-silver;
        display:grid;
        grid-template-columns:1fr 1fr;
        gap:1rem;
        text-align: center;
    }
    &:hover, :focus{
        @include gold-border;

        ul{
            color:$gold;
        }
    }
}

.social-links{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    text-align:center;
    background-color:$black;
}

h2.collection{
    @include gold-border;
    @include flex-c-c;
    height:$business-card;
}

.projects{
    ul{
        display:flex;
        justify-content: space-evenly;
        filter:$svg-gold;
    }
}

.project-card{
    @include silver-border;
    height:$business-card;
    width:100vw;
    position:relative;

    &:hover, :focus{
        @include gold-border;
    }
}

.project-links{
    display:flex;
    justify-content: space-evenly;
    
    a{
        color:$blue;
        text-transform: uppercase;
    }
    i{
        padding:0 5px;
    }
}

.description{
    max-height:0;
    overflow: hidden;
    transition:max-height 1s ease-out;
}

.contact{
    h2{
        @include silver-border;
        @include uppercase-silver;
        @include flex-c-c;
        height:$business-card;
        font-size: 2rem;
    }
    h2:hover, h2:focus{
        @include gold-border;
        @include uppercase-gold;
    }
}

.input-name, .input-email{
    width:100%;
    height:2rem;
    margin:10px auto;
}

.input-message{
    width:100%;
    height:6rem;
    margin:10px auto;
}

button{
    width:100%;
    height:2rem;
}