@use "./variables" as *;
@use "./mixins" as *;

@media (min-width:1200px){

    .desk-hidden{
        display:none;
    }

    .desk-header{
        margin:0;
        background-image:url('../../assets/unsplash-touann-gatouillat-vergos.webp');
        border-radius:25px;
        background-size:cover;
        height:60vh;
        display:grid;
        grid-template-columns:repeat(4, 1fr);
        grid-template-rows:repeat(4, 1fr);

        h2{
            grid-row:3;
            grid-column:span 2;
            font-size:3rem;
            margin-bottom:0;
            margin-left:20px;
            color:$white;
            text-align: left;
        }
        h3{
            grid-row:4;
            grid-column:span 2;
            font-size:2rem;
            margin-top:0;
            margin-left:20px;
            text-align:left;
        }
    }
    .home{
        width:30vw;
        height:$desktop-card;
        grid-column:span 2;
        grid-row:4;
        grid-column:4;
    }
    h1{
        .T{
            font-size:7rem;
            bottom:-4.5%;
        }
        .ristan{
            font-size:3rem;
        }
    }
    .ristan:hover:after{
        left:20px;
    }
    .ristan:focus:after{
        left:20px;
    }

    .about{
        margin:1% auto;
        min-height:45vh;

        .spacing{
        display:grid;
        grid-template-columns:1fr 2fr;
        gap:2rem;
        }
        .carousel-off{
            grid-column:1;
        }
        h2{
            grid-column:2;
        }
        p{
            grid-column:2;
        }
        .mobile-hidden{
            grid-column:1;
            grid-row:span 2;
        }
        .social-links{
            @include flex-c-c;
            flex-direction: column;
        }
    }
    
    .tech-icons, .tech-info{
        max-height:0;
    }
    .tech, .tech-text{
        width:30vw;
        height:$desktop-card;
        transform:translate(217%, -105%);

        li{
            img{
                width:2rem;
            }
        }
        i{
            font-size:2rem;
        }
        ul{
            font-size:1rem;
            gap:0.5rem;
        }
    }

    .projects{
        display:grid;
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows:1fr 3fr;
        gap:1rem;
        margin-top:2%;
        background-image:
        linear-gradient(to bottom, rgba(255, 255, 255, 0),
            rgba(0, 0, 0, 0.9)),
            url('../../assets/817-bar.webp');
        background-size:cover;
        border-radius:25px;
        min-height:40vh;
        
        .project-card{
            width:30vw;
            height:$desktop-card;
            margin:auto auto;
        }

        h2{
            width:100vw;
            height:3rem;
            font-size:2rem;
            grid-column:1;
            grid-column:span 3;
            margin-top:0%;
        }
    }
    .project-slider{
        grid-row:2;
        grid-column:2;
        position:relative;
        overflow:hidden;
    }
    .slide{
        position:absolute;
    }
    .carousel-off{
        display:block;
    }
    .slide-left{
        @include silver-button;
        grid-column:1;
        grid-row:2;
        width:40%;
        height:calc(40% / 1.618);
        transform:translate(150%, 100%);

        &:hover, :focus{
            @include gold-button;
            color:$gold;
        }
    }
    .slide-right{
        @include silver-button;
        grid-column:3;
        grid-row:2;
        width:40%;
        height:calc(40% / 1.618);
        transform:translateY(100%);

        &:hover, :focus{
            @include gold-button;
            color:$gold;
        }
    }

    .desktop-description{
        background-color:$black;
        border-radius:25px;

        .desk-egg{
            @include silver-border;
            width:30vw;
            height:$desktop-card;
            transform:translateX(117%);
        }
        h3{
            font-size:2rem;
        }
        p{
            color:$white;
        }
        .end-desc{
            margin-bottom:0;
            text-align: center;
        }
        a{
            color:$gold;
        }
        ul{
            @include flex-c-c;
            justify-content: space-evenly;

            img{
                filter:$svg-gold;
            }
        }
        i{
            filter:$svg-gold;
        }
    }

    .contact{
        margin-top:5px;

        h2{
            width:100vw;
            height:3rem;
            margin:0 auto;
        }

        button{
            margin-bottom:20px;
        }
    }
}

@media (min-width:1920px){

    .desk-header{
        background-size:cover;
        height:80vh;
    }
    .home{
        width:20vw;
        height:calc(20vw / 1.618);
        transform:translateX(25%);
    }
    h1{
        .T{
            bottom:-3%;
        }
    }

    .about{
        max-height:60vh;
        
        .spacing{
            grid-template-columns:0.5fr 2fr 1fr;
            gap:2rem;
        }

        .carousel-off{
            
            img{
                height:420px;
                width:337px;

            }
        }
    }

    .tech, .tech-text{
        width:20vw;
        height:calc(20vw / 1.618);
        transform:translate(360%, -110%);
    }

    .projects{
        min-height:60vh;
    }

}