@use "./variables" as *;
@use "./mixins" as *;

@media (min-width:768px){


    .desktop-nav{
        @include flex-c-c;

        ul{
            gap:3rem;
        }
        a{
            font-size:2rem;
        }
    }

    h1{
        .T{
            font-size:14rem;
        }
        .ristan{
            font-size:6rem;
        }
    }

    .ristan:hover:after{
        left:40px;
    }
    .ristan:focus:after{
        left:40px;
    }

    .tech{
        ul{
            row-gap: 3rem;
        }
        i{
            font-size:5rem;
        }
        img{
            width:5rem;
        }
    }

    .tech-text{
        ul{
            font-size:2rem;
            row-gap:2rem;
        }
    }

    h2.collection{
        font-size:3rem;
    }

}

@media (min-width:1024px){

    .mobile-hidden{
        display:block;
    }
    .mobile-nav{
        display:none;
    }

    .desktop-nav{
        position:static;
        height:auto;
        
        ul{
            grid-template-columns:repeat(7, 1fr);
            gap:2rem;
            align-items: center;
        }
        a{
            font-size:1rem;
        }
    }

    h1{
        margin-top:0;

        .T{
            bottom:-3.5%;
        }
    }
    // .social-links{
    //     background-color:$white;

    //     .fa-github{
    //         background-color:$black;
    //         border:2px solid $black;
    //     }
    // }
}
