// COLORS
$black:#000000; 
$silver:#c0c0c0;
$gold:#c5b358;
$white:#FFFFFF;
$blue:#0077B5;

$svg-silver:invert(93%) sepia(4%) saturate(10%) hue-rotate(321deg) brightness(85%) contrast(86%);
$svg-gold:invert(67%) sepia(71%) saturate(280%) hue-rotate(13deg) brightness(91%) contrast(94%);

$silver-gradient:linear-gradient(to top, #686868, #c0bfc3, #686868);
$gold-gradient:linear-gradient(to bottom, #926F34, #DFBD69, #926F34);

$desk-dark-blue:radial-gradient(circle, #1e3b71 0%, hsl(218, 58%, 38%) 50%, rgba(30,59,112,1) 100%);

$desk-light-blue:radial-gradient(circle, rgba(174,195,233,1) 0%, rgba(206,219,242,1) 50%, rgba(174,195,233,1) 100%);

// FONT FAMILIES
$logo-font:'Oswald', sans-serif;
$font-family:'Be Vietnam Pro', sans-serif;
// SIZING
$business-card:calc(100vw / 1.618);
$desktop-card:calc(30vw / 1.618);